{% extends "base.html" %}

{% block content %}
{% csrf_token %}

<h2 style="margin: auto;">Eliminacion de Usuario</h2>

<form method="post">
    {% csrf_token %}
    <h3 style="text-align: center; margin-top: 5%;">¿Desea eliminar el usuario {{usuario.username}}--ID: {{usuario.id}}?</h3>
    <h4 style="text-align: center;">Se eliminaran todos sus registros y tickets creados</h4>
    <div class="col text-center" style="text-align: center; margin-top: 2%;">
        <button class="btn btn-danger"style="text-align: center;" type="submit">Sí, eliminar</button>
        <a class="btn btn-dark pull-center"  href="{% url 'usuarios' %}">Cancelar</a>
    </div>
</form>
<div class="col text-center" style="text-align: center; margin-top: 10%;"></div>
{% endblock %}
</div>