{% extends "base2.html" %}

{% block content %}

   

<form method="post">
	{% csrf_token %}

	<body>
		<div class="container">
		  <div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			  <div class="card card-signin my-5">
				<div class="card-body">
				  <h5 class="card-title text-center">Iniciar Sesion</h5>
				  <form class="form-signin">
<!-- Default form login -->
<form class="text-center border border-light p-5" action="#!">

   

    <!-- Email -->
    <input type="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Usuario" name="username">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Contraseña" name="password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Iniciar Sesion</button>

    <!-- Register -->
    <p>No estas registrado?
        <a href="{% url 'signup' %}">Registrate</a>
    </p>



				  </form>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </body>
<!-- Default form login -->
</form>


  {% endblock %}
